[Desktop Entry]
Version=1.0
Name=Palautteet
Comment=Auta uusien käyttöjärjestelmien räätälöinnissä antamalla ideoita ja raportoimalla ongelmista!
Exec=firefox  
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=feedback
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
X-AppInstall-Package=firefox

